.bb-notice {
  margin: 20px 0 20px 0;
  padding: 1rem;
  padding-right: 2rem;
  position: relative;
  .title {
    @extend %text-small;
    // font-weight: $light-font-weight;
    font-family: $primary-heading-font;
  }
  .content {
    @extend %text-small;
    // font-weight: $light-font-weight;
    font-family: $primary-text-font;
  }
  .close-button {
    @extend %text-small;

    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  &.primary {
    background-color: $secondary-background-color;
    .title {
      font-weight: $light-font-weight;
      color: whitesmoke;
    }
    .content {
      font-weight: $light-font-weight;
      color: $primary-contrast-color;
    }
    .close-button {
      color: whitesmoke;
    }
  }
  &.secondary {
    background-color: $tertiary-background-color;
    .title {
      color:$primary-text-color;
    }
    .content {
      color:$primary-text-color;
    }
    .close-button {
      color:$primary-text-color;
    }
  }
}