.bb-notice {
    margin: 20px 0 20px 0;
    padding: 1rem;
    padding-right: 2rem;
    position: relative;
    border: 1.2px solid transparent; // box-shadow: 0px 1px 0.3em grey;
    @extend %text-small;
    .title {
        @extend %text-x-small; // font-weight: $light-font-weight;
        font-family: $primary-heading-font;
        font-weight: $heavy-font-weight;
    }
    .content {
        margin-top: 0.5rem;
        @extend %text-x-small; // font-weight: $light-font-weight;
        font-family: $primary-text-font;
        font-weight: $normal-font-weight;
    }
    .close-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }
    .link {
        border-bottom: 1px solid transparent;
    }
    &.light {
        @extend %theme-light-shade;
        border-color: $black;
        .title {}
        .content {}
        .close-button {}
        .link {
            border-color: $light-shade-text-color;
            &:hover {
                color: $secondary-text-color;
                border-color: $secondary-text-color;
            }
        }
    }
    &.dark {
        @extend %theme-dark-accent;
        .title {}
        .content {}
        .close-button {}
        .link {
            border-color: $dark-shade-text-color;
            &:hover {
                color: $secondary-text-color;
                border-color: $secondary-text-color;
            }
        }
    }
}