.bb-prev-next-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .element {
        @extend %text-small;
        font-family: $primary-text-font;
        color: $secondary-text-color;
        padding-bottom: 5px; // border-bottom: 2px solid transparent;
        .next-label {
            padding-left: 0;
            padding-right: 10px;
            transition: transform 0.2s;
            display: inline-block;
        }
        .back-label {
            display: inline-block;
            padding-right: 0;
            padding-left: 10px;
            transition: transform 0.2s;
        }
        &:hover {
            .back-label {
                transform: translateX(10px);
            }
            .next-label {
                transform: translateX(-10px);
            }
            color: $primary-text-color;
        }
    }
}