.bb-page {
    padding: 0 $side-padding;
    margin-top: $header-bottom-margin;
    @include mobile {
        margin-top: $header-bottom-mobile-margin;
    }
    margin-bottom: $footer-margin;
    min-height: 47.8vh;
}

.bb-content {
    margin-top: 3rem;
}

.bb-title {
    @extend %heading-x-large;
    font-family: $secondary-heading-font;
    letter-spacing: $wide-letter-spacing;
    color: $primary-text-color;
    &.center {
        text-align: center;
    } // &:hover {
    //     -webkit-text-fill-color: $brand-negative-color;
    //     font-weight: $heavy-font-weight;
    //     /* Will override color (regardless of order) */
    //     -webkit-text-stroke-width: 2px;
    //     -webkit-text-stroke-color: $black;
    //     text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; // -webkit-text-fill-color: $brand-negative-color;
    // }
}

.bb-heading-two {
    @extend %heading-regular; // font-weight: $heavy-font-weight;
    font-family: $primary-heading-font;
    color: $brand-dark-color;
    letter-spacing: $narrow-letter-spacing;
}

.bb-heading-three {
    @extend %heading-small;
    font-weight: $heavy-font-weight;
    font-family: $secondary-heading-font;
    color: $primary-text-color;
}

.bb-heading-four {
    @extend %heading-x-small;
    font-family: $secondary-heading-font;
    color: $secondary-text-color;
    letter-spacing: $wide-letter-spacing;
}

.bb-section {
    margin-left: 0 !important;
    margin-right: 0 !important;
    &:not(:last-of-type) {
        margin-bottom: 3rem;
    }
    &:not(:first-of-type) {
        margin-top: 3rem;
    }
    &.big-margin {
        &:not(:last-of-type) {
            margin-bottom: 4rem;
        }
        &:not(:first-of-type) {
            margin-top: 4rem;
        }
    }
    &.wrap-reverse {
        flex-wrap: wrap-reverse;
    }
    .bb-sub-section {
        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }
        &:not(:first-of-type) {
            margin-top: 2rem;
        }
    }
    .section-content {
        &:not(:first-child) {
            margin-top: 1.5rem;
        }
    }
}

.bb-text {
    &:not(.no-margin) {
        @extend .tip-text-block;
    }
    @extend %text-regular;
    font-family: $primary-text-font;
    color: $primary-text-color;
    ol,
    ul {
        margin-bottom: 1rem;
    }
    text-rendering: optimizeLegibility;
}

.bb-big-text {
    @extend .bb-text;
    @extend %text-large;
}

.bb-paragraph {}

.bb-divider-container {
    width: 100%;
    .bb-divider {
        width: 100%;
        border-bottom: 1px solid $light-grey;
    }
    display: flex;
    justify-content: center;
}