.tip-link {
    a {
        color: $regular-link-color;
        font-weight: $normal-font-weight;
        &:hover {
            color: $regular-link-color-hover;
            border-bottom: 2px solid $regular-link-color-hover;
        }
    }
}