.tip-link {
    a {
        cursor: pointer;
        padding: 0 1px;
        padding-bottom: 1.5px;
        color: $brand-color;
        border-bottom: 1.5px solid $brand-color;
        &:hover {
            color: $primary-text-color;
            border-bottom: 1.5px solid $primary-text-color;
        }
        svg,
        i {
            margin-right: 3px;
        }
    }
}

.bb-big-link {
    @extend %text-small;
    @extend .tip-link;
    text-align: center;
    font-family: $primary-heading-font;
    padding: 15px;
    font-weight: $heavy-font-weight;
    a {
        padding: 2px;
        border-color: $brand-color;
    }
}