.tip-link {
    a {
        cursor: pointer;
        padding-bottom: 1.5px;
        color: $brand-color;
        border-bottom: 2px solid transparent;
        font-weight: $normal-font-weight;
        &:hover {
            color: $primary-text-color;
            border-bottom: 2px solid $primary-text-color;
        }
    }
}