/* ==========================================================================
   VARIABLES
   ========================================================================== */

$tip-grid-element-margin: 5px;
$tip-grid-element-mobile-margin: 2px;
$tip-masonry-grid-vertical-margin: 3em;

/* ==========================================================================
   SELECTORS
   ========================================================================== */

.tip-masonry-grid {
    margin: 0 auto $tip-masonry-grid-vertical-margin auto;
    min-height: 500px;
    transition: height 0.5s;
    .grid-element {
        margin: $tip-grid-element-margin;
        @include mobile {
            margin: $tip-grid-element-mobile-margin;
        }
        display: relative;
        .grid-element-image {
            transition: opacity 0.3s;
            width: 180px;
            @include tablet {
                width: 150px;
            }
            @include mobile {
                width: 105px;
            }
        }
        .grid-element-caption-container {
            transition: opacity 0.3s;
            @extend %text-x-small;
            font-family: $primary-text-font;
            color: $primary-text-color;
            letter-spacing: $wide-letter-spacing;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
            .grid-element-caption {}
        }
        .show-on-hover {
            opacity: 0;
        }
        .hide-on-hover {
            opacity: 1;
        }
        &:hover {
            .show-on-hover {
                opacity: 1;
            }
            .hide-on-hover {
                opacity: 0;
            }
        }
        a {
            span {
                border-bottom: 1px solid transparent;
            }
            &:hover {
                span {
                    border-bottom: 1px solid $primary-text-color;
                }
            }
        }
    }
}