/* ==========================================================================
   VARIABLES
   ========================================================================== */

$tip-grid-element-margin: 5px;
$tip-masonry-grid-vertical-margin: 3em;

/* ==========================================================================
   SELECTORS
   ========================================================================== */

.tip-masonry-grid {
    margin: 0 auto $tip-masonry-grid-vertical-margin auto;
    min-height: 500px;
    transition: height 0.5s;
    .grid-element {
        margin: $tip-grid-element-margin;
        display: relative;
        .grid-element-image {   
            transition: opacity 0.3s;
            width: 200px;
            filter: grayscale(80%);
            @media only screen and (max-width: 720px) {
                width: 150px;
            }
            @media only screen and (max-width: 480px) {
                width: 120px;
            }
        }
        .grid-element-caption {
            transition: opacity 0.3s;
            @extend %heading-x-small;
            font-family: $primary-text-font;
            color: $primary-color;
            letter-spacing: $wide-letter-spacing;
            position: absolute;
            top: 35%;
            width: 100%;
            text-align: center;

        }
        .show-on-hover {
            opacity: 0;
        }

        .hide-on-hover {
            opacity: 1;
        }

        &:hover {
            .show-on-hover {
                opacity: 1;
            }
            .hide-on-hover {
                opacity: 0;
            }
        }
        a {
            span {
                border-bottom: 1px solid transparent;
            }
            &:hover {
                span {
                    border-bottom: 1px solid $regular-link-color-hover;
                }
                
            }
        }
    }
}