.tip-nav-link {
    @include font($nav-link-font, $medium-font-size, $nav-link-color, $medium-font-line-height);
    a {
        padding: 2px;
    }
    &:hover {
        color: $nav-link-color-hover;
        a:not(.tip-nav-link-active) {
            // apply bottom border if not active
            border-bottom: 1px solid $primary-color;
        }
    }
    .tip-nav-link-active {
        background-color: $secondary-color;
        color: $primary-contrast-color;
    }
}