/* ==========================================================================
   VARIABLES
   ========================================================================== */

$nav-link-color: #808080;
$nav-link-color-hover: $primary-color;

/* ==========================================================================
   SELECTORS
   ========================================================================== */

.tip-header {
    margin-top: $header-margin;
    margin-bottom: $header-margin;
    .tip-title {
        @extend %heading-regular;
        font-family: $primary-heading-font;
    }
    .tip-nav-link {
        @extend %text-large;
        font-family: $primary-heading-font;
        color: $nav-link-color;
        a {
            padding: 3 8 3 8;
        }
        &:hover {
            color: $nav-link-color-hover;
            a:not(.tip-nav-link-active) {
                // apply bottom border if not active
                border-bottom: 2px solid $nav-link-color-hover;
            }
        }
        .tip-nav-link-active {
            background-color: $secondary-background-color;
            color: $primary-contrast-color;
        }
    }
}