/* ==========================================================================
   VARIABLES
   ========================================================================== */

$footer-min-height: 30vh;

/* ==========================================================================
   SELECTORS
   ========================================================================== */

.tip-footer {
    min-height: $footer-min-height;
    background-color: $secondary-background-color;
    margin-top: $footer-margin;
    padding: 60px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 480px) {
        text-align: center;
    }
    .tip-footer-section {
        display: flex;
        flex-direction: column;
        margin: 15px 0 15px 0;
        .tip-footer-section-title {
            @extend %heading-x-small;
            font-weight: $light-font-weight;
            letter-spacing: $wide-letter-spacing;
            font-family: $primary-heading-font;
            color: $secondary-contrast-text-color;
        }
        .tip-footer-section-subtitle {
            @extend %heading-x-small;
            font-weight: $light-font-weight;
            font-family: $primary-text-font;
            color: $primary-contrast-text-color;
        }
    }
    .tip-title {
        margin-top: 30px;
        .tip-title-copyright {
            @extend %heading-x-small;
            font-weight: $light-font-weight;
            letter-spacing: $wide-letter-spacing;
            font-family: $primary-heading-font;
            color: $secondary-contrast-text-color;
            text-align: center;
        }
        .tip-title-banner {
            font-size: 1.2em;
            line-height: 1.6em;
            font-family: $secondary-heading-font;
            font-weight: $light-font-weight;
            span {
                margin: 0 0.5 0 0.5;
            }
        }
    }
}