/* ==========================================================================
   VARIABLES
   ========================================================================== */

$nav-link-color: #808080;
$nav-link-color-hover: $primary-color;

/* ==========================================================================
   SELECTORS
   ========================================================================== */

.tip-header {
    margin-top: $header-margin;
    margin-bottom: $header-margin;
    .tip-title {
        display: flex;
        align-content: center;
        .logo-image {
            height: 100px;
            width: auto;
        }
        .logo-text {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            justify-content: center;
            font-size: 1.75em;
            line-height: 1.6em;
            font-family: $primary-heading-font;
        }
    }
    .tip-nav-link {
        @extend %text-large;
        font-family: $primary-heading-font;
        color: $nav-link-color;
        a {
            padding: 3 5 3 5;
            .label {
                padding: 3 0 3 0;
                white-space: nowrap;
            }
            &.tip-nav-link-active {
                background-color: $secondary-background-color;
                color: $primary-contrast-text-color;
            }
        }
        &:hover {
            color: $nav-link-color-hover;
            a:not(.tip-nav-link-active) {
                // apply bottom border if not active
                .label {
                    border-bottom: 2px solid $nav-link-color-hover;
                }
            }
        }
    }
    .tip-nav-group {
        .tip-nav-group-child {
            box-shadow: 1px 3px 0.4em #949191;
            border: 1px solid $primary-color;            
            background-color: #f6f6f6;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            .tip-nav-link {
                @extend %text-regular;
                padding-bottom: 0.5rem;
            }
        }
        .tip-nav-group-parent {
            cursor: pointer;
            .dropdown-arrow {
                margin-left: 8;
                transition: transform 0.3s;
                transform: rotate(0deg);
            }
        }
        &.visible {
            .dropdown-arrow {
                transform: rotate(180deg);
            }
        }
    }
}