.tip-section {
  .tip-subsection {
    margin-bottom: $section-margin-bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tip-subsection-heading {
    @include font($heading-font, $x-large-font-size, $primary-color, $x-large-font-line-height, $heavy-font-weight); 
  }
}