.tip-press {
  text-align: center;
  @include mobile {
    text-align: left;
  }
  .element {
    .source {
      font-weight: $heavy-font-weight;
      &:after {
        content: " ";
        white-space: pre;
      }
    }
    .date {
      // @extend %text-small;
      color: $secondary-text-color;
    }
  }
}