/* ==========================================================================
   VARIABLES
   ========================================================================== */


/* ==========================================================================
   SELECTORS
   ========================================================================== */

.tip-story {
    .image-box {
        // @extend %theme-light-shade;
        // box-shadow: inset 0px 0px 36px 2px #afaeae;
        // padding: 1rem 2rem; 
        // min-height: 600px;
        padding-right: 2rem;
        @include mobile {
            padding: 0rem 2rem;
        }
        @include tablet {
            padding: 2rem 9rem;
        }
        @include desktop {
            padding: 0rem 5rem;
        }
        img {}
        .image-gallery-thumbnails {
            overflow: auto;
            &::-webkit-scrollbar {
                width: 0px;
                background: transparent;
            }
            .image-gallery-thumbnail {
                &.active {
                    border-color: $brand-color;
                }
            }
        }
    }
    .title-box {
        padding-left: 2rem;
        @include mobile {
            padding: 0;
        }
        @include tablet {
            padding: 0;
        }
        .title {
            font-weight: $heavy-font-weight; // font-family: $secondary-heading-font;
            color: $primary-text-color; // -webkit-text-fill-color: $brand-negative-color;
            @extend %heading-x-large;
        }
        .author {
            div {
                margin: 0.5rem 0;
            }
        }
        .synopsis {
            text-align: justify; // font-family: $primary-heading-font;
        }
    }
    .image-box,
    .title-box {
        margin-bottom: 2rem;
    }
    .action-container {
        display: flex;
        justify-content: center;
        @include desktop {
            justify-content: space-between;
        }
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        .action-item {
            margin-top: 1rem;
            &:only-child {
                width: 100%;
            }
        }
    }
}

.picture-nav {
    vertical-align: middle;
    position: absolute;
    top: 45%;
    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }
    z-index: 100;
    svg {
        height: 40px;
        width: 40px;
        fill: $white;
        cursor: pointer;
        transition: fill 0.2s;
        stroke: $black;
    }
    &:hover {
        svg {
            fill: $brand-color;
        }
    }
}