/* ==========================================================================
   VARIABLES
   ========================================================================== */

$heading-margin-bottom: 2rem;

/* ==========================================================================
      SELECTORS
   ========================================================================== */

.tip-blog-post {
    margin-bottom: $heading-margin-bottom;
    margin-top: 3rem;

    .content {
        margin-top: 3rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid $secondary-color;
    }
    .share-icons {
        margin-top: 3rem;
        text-align: center;
        @extend %text-x-large;
        i {
            margin-right: 2rem;
            cursor: pointer;
            color: $regular-link-color;
            &:hover {
                color: $regular-link-color-hover;
            }
        }
    }
}