html {
    font-size: $base-font-size;
}

@media only screen and (max-width: 480px) {
    html {
        font-size: $mobile-base-font-size;
    }
}

body {
    background-color: $primary-background-color;
}

// normalizing
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}