// /* COLORS
// ========================================================================== */

$primary-color: #000000;
$primary-text-color: #000000;
$primary-contrast-text-color: #dddddd;
$primary-background-color: #fefefe;

$secondary-color: #888888;
$secondary-text-color: #373737;
$secondary-contrast-text-color: #757575;
$secondary-background-color: #1b1b1b;

$tertiary-color: indianred;
$tertiary-text-color: #757575;
$tertiary-background-color: #dedede;

$danger-background-color: indianred;

$regular-link-color: #00a896;
$regular-link-color-hover: $primary-color;  