// /* COLORS
// ========================================================================== */
// $primary-color: #000000;
// $primary-contrast-text-color: #dddddd;
// $primary-background-color: #ffffff;
// $secondary-color: #888888;
// $secondary-contrast-text-color: #757575;
// $secondary-background-color: #1b1b1b;
// $tertiary-color: indianred;
// $tertiary-text-color: #757575;
// $tertiary-background-color: #dedede;
// $danger-background-color: indianred;
// GREYS AND BLACKS
// ============================================================================
//
$white: whitesmoke;
$dark-white: #e6e6e6;
$light-grey: #f2f4f5;
$grey: grey;
$dark-grey: #757575;
$dark-black: rgba(0, 0, 0, 0.84);
$black: #111111;
//
//
// TEXT COLORS
// ============================================================================
//
//
$primary-text-color: $dark-black;
$secondary-text-color: $dark-grey;
//
//
// SITE-WIDE COLORS
// ============================================================================
//
//
$brand-color: #25968a;
$brand-dark-color: #1d756d;
$brand-negative-color: rgb(209, 85, 85);
$background-shade: #fff;
//
//
$light-shade: #f2f4f5;
$light-shade-text-color: $primary-text-color;
//
$light-accent: #76ccc3;
$light-accent-text-color: $white;
//
$dark-accent: #595050;
$dark-accent-text-color: #ded7d2;
//
$dark-shade: #1b1b1b;
$dark-shade-text-color: $dark-white;
//
%theme-background-shade {
    background-color: $background-shade;
    color: $brand-color;
}

%theme-light-shade {
    background-color: $light-shade;
    color: $light-shade-text-color;
    border-color: $light-shade-text-color;
    svg {
        fill: $light-shade-text-color;
    }
}

%theme-light-accent {
    background-color: $light-accent;
    color: $light-accent-text-color;
    border-color: $light-accent-text-color;
}

%theme-dark-shade {
    background-color: $dark-shade;
    color: $dark-shade-text-color;
    border-color: $dark-shade-text-color;
}

%theme-dark-accent {
    background-color: $dark-accent;
    color: $dark-accent-text-color;
    border-color: $dark-accent-text-color;
}