// /* GUTTERS
// ========================================================================== */
$header-top-margin: 2rem;
$header-bottom-margin: 5rem;
$header-bottom-mobile-margin: 3rem;
$footer-margin: 5rem;
$body-margin: 4rem;
$side-padding: 20px;