// /* GUTTERS
// ========================================================================== */
$header-margin-top: 2rem;
$footer-margin-top: 2rem;
$body-gutter: 2rem;

$section-margin-bottom: 3rem;
$heading-margin-bottom: 2rem;