/* ==========================================================================
   VARIABLES
   ========================================================================== */

// Font faces
$primary-heading-font: 'Karla',
sans-serif;
$secondary-heading-font: 'Source Sans Pro',
sans-serif;
$primary-text-font: 'Source Sans Pro',
sans-serif;
$secondary-text-font: 'Source Sans Pro',
sans-serif;
// Font weights
$normal-font-weight: 400;
$light-font-weight: 300;
$heavy-font-weight: 700;
// Font sizes
$base-font-size: 16px;
$mobile-base-font-size: 14.5px;
// letter spacing
$normal-letter-spacing: 0.3;
$narrow-letter-spacing: 0.1;
$wide-letter-spacing: 0.5;

/* ==========================================================================
   PLACEHOLDERS
   ========================================================================== */


/* Text
   ========================================================================== */

%text-x-small {
    font-size: 0.625em;
    line-height: 1.5em;
}

%text-small {
    font-size: 0.875em;
    line-height: 1.5em;
}

%text-regular {
    font-size: 1.1em;
    line-height: 1.8em;
}

%text-large {
    font-size: 1.2em;
    line-height: 1.6em;
}

%text-x-large {
    font-size: 1.4em;
    line-height: 1.6em;
}


/* Heading
   ========================================================================== */

%heading-x-small {
    font-size: 0.875em;
    line-height: 1.5em;
}

%heading-small {
    // not used yet
    font-size: 1.2em;
    line-height: 1.6em;
}

%heading-regular {
    font-size: 1.75em;
    line-height: 1.6em;
}

%heading-large {
    font-size: 2.25em;
    line-height: 1.3em;
}

%heading-x-large {
    font-size: 4em;
    line-height: 1.1em;
}


/* ==========================================================================
   SELECTORS
   ========================================================================== */

.tip-text-block {
    p:not(:last-child) {
        padding-bottom: 1rem;
    }
}