// bottom gradient background

.row-center {
    justify-content: center;
}

.row-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.text-center {
    text-align: center;
}

.bg-image-container {
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    img {
        width: 100%;
        filter: grayscale(100%);
        opacity: 0.4;
    }
    &:after {
        content: "";
        position: absolute;
        display: block;
        top: 0%;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #191919);
    }
}

// animation class for color glimmer
.anim-text-flow {
    /*
   * Animation variables
   */
    $animationSteps: 20;
    $animationDuration: 20;
    $animationElement: span;
    $animationElementsCount: 100;
    $delayBetweenLetters: 0.3;
    /*
   * Elements settings
   */
    #{$animationElement} {
        animation-name: anim-text-flow-keys;
        animation-duration: #{$animationDuration}s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: forwards;
    }
    /*
   * Keyframe loop
   */
    @keyframes anim-text-flow-keys {
        @for $i from 0 through $animationSteps {
            #{percentage($i * (1 / $animationSteps))} {
                color: hsla($i*(360/$animationSteps), 60, 60, 1);
            }
        }
    }
    /*
   * Element animation delay loop
   */
    $totalDelayTime: $animationElementsCount * $delayBetweenLetters;
    @for $i from 1 through $animationElementsCount {
        #{$animationElement}:nth-of-type(#{$i}) {
            animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
        }
    }
}