// /* COLORS
// ========================================================================== */

$primary-color: #000000;
$primary-contrast-color: white;
$secondary-color: #55c3c3;
$background-color: #fefefe;

$nav-link-color: teal;
$nav-link-color-hover: $primary-color;


// /* TEXT
// ========================================================================== */
// font family
$title-font: 'Karla', sans-serif;
$nav-link-font: 'Karla', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Karla', sans-serif;

// ========= font size ==========

// base
$base-font-size: 16px;
$mobile-base-font-size: 14px;

$x-small-font-size: 0.875em;
$x-small-font-line-height: 1.5em;

$small-font-size: 1.1em;
$small-font-line-height: 1.6em;

$medium-font-size: 1.2em;
$medium-font-line-height: 1.6em;

$large-font-size: 1.6em;
$large-font-line-height: 1.6em;

$x-large-font-size: 1.75em;
$x-large-font-line-height: 1.6em;

$xx-large-font-size: 2.25em;
$xx-large-font-line-height: 1.3em;

$xxx-large-font-size: 4em;
$xxx-large-font-line-height: 1.1em;

// ======== font weight ===========
$normal-font-weight: 400;
$light-font-weight: 300;
$heavy-font-weight: 700;


// /* GUTTERS
// ========================================================================== */
$header-margin-top: 2rem;
$footer-margin-top: 2rem;
$body-gutter: 2rem;
$section-margin-bottom: 3rem;
$heading-margin-bottom: 2rem;


