// /* COLORS
// ========================================================================== */

$primary-color: #000000;
$primary-contrast-color: white;
$secondary-color: grey;
$background-color: #fefefe;

$nav-link-color: $secondary-color;
$nav-link-color-hover: $primary-color;


// /* FONTS
// ========================================================================== */
// font family
$title-font: 'Karla', sans-serif;
$nav-link-font: 'Karla', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Karla', sans-serif;

// font size
$base-font-size: 16px;
$mobile-base-font-size: 14px;

$title-font-size: 1.75em;
$nav-link-font-size: 1.2em;
$heading-font-size: 1.75em;
$text-font-size: 1.13em;

// font-weight
$title-font-weight: 700;

// line height
$title-line-height: 2.0;
$nav-link-line-height: 1.6;
$heading-line-height: 1.8;
$text-line-height: 1.6;



